@import "tailwindcss";


/* Tema claro */
.light-theme {
    background-color: #ebebeb; /* Fondo blanco */
    color: #000000; /* Texto negro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }

  .light-theme h2 {
    color: rgb(59, 59, 59);
  }

  .light-theme h3 {
    color: rgb(59, 59, 59);
  }
  .light-theme p {
    color: rgb(39, 38, 38);
  }



  
  /* Tema oscuro */
  .dark-theme {
    background-color: #04060f; /* Fondo azul oscuro */
    color: #e0e0e0; /* Texto claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }

  .dark-theme p {
    color: rgb(168, 166, 166);
  }
  .dark-theme h2, h3 {
    color: rgb(182, 178, 178);
  }